{% extends "cust/base.html" %}
{% block title %}
Select Date
{% endblock %}
{% block content %}
    <h1 style="font-family:'Times New Roman';">Choose a date</h1>
    <form method="POST" class="signup-form">
        {% csrf_token %}
        {% if showingDates %}
            <select name="showingDate" id="showingDate">
            {% for date in showingDates %}
            <option value="{{ date }}">{{ date }}</option>
            {% endfor %}
            </select>
        {% else %}
            <p>Not available</p>
        {% endif %}
        <button type="submit" class="save btn btn-default">Select Date</button>
    </form>
{% endblock %}